<div class="container" id='aboutmesection'>
  <div class="heading">
      <h2 id="aboutheading">About me</h2>
  </div>
  
  
  <article class="info">
    <!-- <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/06b/1df/2962db2.jpg" alt="" id='idimage'> -->
    <span class="infoarticle">Hi, Thank you for visiting my website and I would like to heartly welcome you. My name is Syed.</span>
    <span class="infoarticle">I always had passion for arts as well as creating things. I loved to draw, but I always wished art could be applied on other things besides paper.Thats when app building and websites started to become more and more important.</span>
    <span class="infoarticle">I saw art in apps and web applications and came to realization on how beautiful they were.</span>
    <br>
    <span class="infoarticle">My experiece as a accountant showed me that all is not what it seems. I learnt that even in fields as Accounting, there is a need for faster and more efficient process or macros that could help speed processing. While programing a macro I realized my passion in programming and that I could see process where art and code could come together</span>
    <br>
    <span class="infoarticle">It is then I decided to join UT Austin Coding Bootcamp in Houston where I saw my passion realized.</span>
    <span class="infoarticle">I am now currently looking for opportunities as a Developer, or Software developer and is open to any opportunities should they arise.</span>
    <br>
  </article>
  
</div>

<div class="next-to">
  <button id="Top" class="buttons"><span>Top</span></button>
  <button id="next" class="buttons"><span>Next</span></button>
</div>
