@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Zilla+Slab+Highlight&subset=latin-ext');

#inner-container1 {
   
    margin: 200px auto;
   
    text-align: center;
    display: flex;
}

#center-me {
    margin: auto;
    /* height: 100%;
    width: 100%;
    max-height: 100vh; */
    font-size: 350%;
    text-align: center;
    list-style: none;
}
.intro-list >li{
    list-style: none;
    align-content: center;
    
}
.intro-list{
    align-content: center;
    margin: 0 auto;
}
.Ima {
    font-family: 'Kaushan Script', cursive;
    
    /* font-family: 'Zilla Slab Highlight', cursive; */
    color: #ffffff
}
.fe {
    font-family: 'Zilla Slab Highlight', cursive;
}
.be {
    font-family: 'Zilla Slab Highlight', cursive;
}
.ar {
    font-family: 'Zilla Slab Highlight', cursive;
}
.ac {
    font-family: 'Zilla Slab Highlight', cursive;
}