<Header>
  <!-- <img src="https://static.pexels.com/photos/417173/pexels-photo-417173.jpeg"/> -->
</Header>

<div class="container" id='inner-container1'>
  <ul class='intro-list'>
    <li>
      <span class="type-it Ima" id="center-me"><strong>I'm a Professional</strong></span>
    </li>
    <li>
      <span class="type-it fe" id="center-me">Front End Developer</span>
    </li>
    <li>
      <span class="type-it be" id="center-me">Back End Developer</span>
    </li>
    <li>
      <span class="type-it ar" id="center-me">Artist</span>
    </li>
    <li>
      <span class="type-it ac" id="center-me">Accountant</span>
    </li>

  </ul>
</div>
