<div class="contacts">
  <div class="contact-heading">
    <h3>Contact Me</h3>
  </div>
  <div class="contact-paragraph">
    <h5>Please feel free to contact me and I look forward to hearing from you</h5>
  </div>
  <div class="contact-list">
    <ul class="contacting-me">
      <li class="contacts">
          <i class="fa fa-github fa-4x" aria-hidden="true"><a href=""></a></i>
      </li>
      <li class="contacts">
          <i class="fa fa-linkedin fa-4x" aria-hidden="true"><a href=""></a></i>
      </li >
      <li class="contacts">
          <i class="fa fa-envelope fa-4x" aria-hidden="true"><a href=""></a></i>
      </li>
    </ul>
  </div>
</div>
