<div class="container skils">

  <div class="skillboxes">
    <ul class="skills-list">
      <li class="skills-items">
        <span  class="skills-icons">
            <i class="fa fa-keyboard-o fa-4x" aria-hidden="true"></i>
        </span>
        <br>
        <span >
          <strong>M.E.A.N</strong>
        </span >
        <br>
        <p class="skills-paragragh">Fimiliarity with MEAN Stack Development process</p>
      </li>

      <li class="skills-items">
        <span class="skills-icons">
            <i class="fa fa-certificate fa-4x" aria-hidden="true"></i>
        </span>
        <br>
        <span>
          <strong>Certified Full Stack Developer</strong>
        </span>
        <br>
        <p class="skills-paragragh">Certification in Full-Stack Web Development</p>
      </li>
      <li class="skills-items">
        <span class="skills-icons">
            <i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
        </span>
        <br>
        <span >
          <strong>Responsive Design</strong>
        </span>
        <br>
        <p class="skills-paragragh">Passion to develop responsive and beautiful websites</p>
      </li>

      <li class="skills-items">
        <span class="skills-icons">
          <i class="fa fa-code fa-4x" aria-hidden="true"></i>
        </span>
        <br>
        <span>
          <strong>Still Growing</strong>
        </span>
        <br>
        <p class="skills-paragragh">Knowledge is growing everyday and and more libraries added</p>
      </li>
    </ul>
  </div>

</div>
