<h2 id="portheading">Portoflio</h2>

<div class="projects">
  <ul class="projectlists">
    <li>
      <!-- Button trigger modal -->
      <img type="button" src="../../assets/images/burger.png" id="burger" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">EatThatBurger</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span>Eat-Da-Burger! is a restaurant app that lets users input the names of burgers they'd like to eat.A Single-Page-Light
                App. Work with both front and back end and database (MySQL) allows users to put a name of burger and eat
                it. Rendering the page with handlebars and relate data with ORM technique</span>
            </div>
            <div class="modal-footer">
              <i class="fa fa-github fa-3x" aria-hidden="true">
                <a href="https://github.com/kurogosane1/burger"></a>
              </i>
              <button type="button" class="btn btn-primary">
                <a id="burger-link" href="https://limitless-cove-86218.herokuapp.com/">Website</a>
              </button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>

    </li>

    <!--second project-->
    <li>
      <!-- Button trigger modal -->
      <img type="button" src="../../assets/images/HackCity.PNG" id="hackcity" class="btn btn-primary" data-toggle="modal" data-target="#HackmodelModal">

      <!-- Modal -->
      <div class="modal fade" id="HackmodelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">HackCity</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span>HackCity React where Web Developers, Desiginers get together, collaborate, work together and create things
                together.
              </span>
              <span>This was made with HTML5, CSS3, NodeJS and MySQL that deals with the BackEnd side of things. </span>
              <span>A collaborative work together with other members</span>
            </div>
            <div class="modal-footer">

              <a href="https://github.com/mrkevinsmithdesign/hackCityTwo">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
              </a>

              <button type="button" class="btn btn-primary">
                <a id="burger-link" href="https://stark-ravine-93008.herokuapp.com/">Website</a>
              </button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>

    </li>

    <!--Third Project-->
    <li>
      <!-- Button trigger modal -->
      <img type="button" src="../../assets/images/Trivia.PNG" id="hackcity" class="btn btn-primary" data-toggle="modal" data-target="#TriviaModal">

      <!-- Modal -->
      <div class="modal fade" id="TriviaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Trivia Game</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span>TriviaGame A game that questions your knowledge on Disney. You shall be timed as you answer the questions.
                If your time runs out. You shall lose your ability to answer any questions and therefore will no longer be
                able to play the game.However, if you answered them correctly, then you shall see the score and howm many
                did you answer correctly and how many did you answer in correctly.</span>
            </div>
            <div class="modal-footer">

              <a href="https://github.com/kurogosane1/TriviaGame">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
              </a>

              <button type="button" class="btn btn-primary">
                <a id="burger-link" href="https://pure-gorge-43433.herokuapp.com/">Website</a>
              </button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </li>

    <!--Fourth Project-->
    <li>
      <!-- Button trigger modal -->
      <img type="button" src="../../assets/images/Laptop-with-Coffee.jpg" id="hackcity" class="btn btn-primary" data-toggle="modal"
        data-target="#NYTModal">

      <!-- Modal -->
      <div class="modal fade" id="NYTModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">NYTScrapper</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span>A react-based rendition of the New York Times Article Search Application This utilize the NYT API to search
                up articles by terms and years (optional). Then you can save the article to a NoSQL database so you can read
                the article in the future. There is a tab to display all the saved articles and you can delete any of the
                articles, if you so do desire. strong This is all running on react strong</span>
            </div>
            <div class="modal-footer">

              <a href="https://github.com/kurogosane1/NYTReactSearch">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
              </a>

              <button type="button" class="btn btn-primary">
                <a id="burger-link" href="https://agile-coast-87413.herokuapp.com/">Website</a>
              </button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </li>


    <!--Fifth Project-->

    <li>
      <!-- Button trigger modal -->
      <img type="button" src="../../assets/images/code.png" id="hackcity" class="btn btn-primary" data-toggle="modal" data-target="#tipModal">

      <!-- Modal -->
      <div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">TipTuity</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span>Tiptuity your cashless way of paying tips. Using your phone to scan the employee bar code and paying tips. Made with SQL and MongoDB with HandleBarsJS and NodeJS as the front and back</span>
            </div>
            <div class="modal-footer">

                <a href="https://github.com/kurogosane1/tiptuity">
                  <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                </a>

              <button type="button" class="btn btn-primary">
                <a id="burger-link" href="https://tiptuity.herokuapp.com/">Website</a>
              </button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </li>

    <!--Sixth Project-->
    <li>
      <!-- Button trigger modal -->
      <img type="button" src="https://www.dur.ac.uk/images/about/somuchmore/SO_MUCH_MORE_block.png" id="hackcity" class="btn btn-primary"
        data-toggle="modal" data-target="#comingModal">

      <!-- Modal -->
      <div class="modal fade" id="comingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">And So Much More</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span>You'll find more on my Github page</span>
              <span>Please feel free to click the github page link below</span>
            </div>
            <div class="modal-footer">
              <a href="https://github.com/kurogosane1/NYTReactSearch">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
              </a>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>

    </li>

  </ul>
</div>

<div class="next-to">
  <button id="Top" class="buttons">
    <span>Top</span>
  </button>
  <button id="next" class="buttons">
    <span>Next</span>
  </button>
</div>
