<div class="container-fluid" id="intro">
  <div class="container">
    <app-navbar></app-navbar>
  </div>

  <app-intro></app-intro>
</div>

<div class="container-fluid" id='skills'>

  <app-skills></app-skills>

</div>
<div class="container-fluid" id="about-me">
  <app-aboutme></app-aboutme>
</div>
<div class="container-fluid" id="port">
  <app-portfolio></app-portfolio>
</div>
<div class="container-fluid" id="resume">
  <app-resume></app-resume>
</div>
<div class="container-fluid">
  <app-contact-me></app-contact-me>
</div>
<div class="container-fluid" id="footer">
  <app-footer></app-footer>
</div>
